<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Hola {{nombre}}</ion-title>
            <ion-buttons end>
	            <button ion-button icon-only color="secondary" (click)="login()">
	                <ion-icon name="log-in"></ion-icon>
	            </button>
                <!-- *ngIf="nombre == ''" -->
	            <button ion-button icon-only color="danger" (click)="logout()">
	                <ion-icon name="log-out"></ion-icon>
	            </button>
                <!-- *ngIf="nombre != ''" -->
	        </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
    
    </ion-content>
</ion-menu>
